@model WilbertVaultCompany.api.Models.Plant
@using WilbertVaultCompany.api.Enums
@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" id="fhd" class="container">
    <center>
        <form asp-action="Create" method="post">
            <div class="album py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label class="sectionLabel" style="width:250px;"></label><h3>Plant Information</h3></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="PlantName"></label>
                                        </td>
                                        <td>
                                            <input asp-for="PlantName" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="PlantName" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Address"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Address" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Address2"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Address2" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Address2" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="City"></label>
                                        </td>
                                        <td>
                                            <input asp-for="City" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="City" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="State"></label>
                                        </td>
                                        <td>
                                            <select asp-for="State" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<States>()"></select>

                                            <span asp-validation-for="State" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="ZipCode"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ZipCode" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="County"></label>
                                        </td>
                                        <td>
                                            <input asp-for="County" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="County" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Phone1">Phone (Business)</label>
                                        </td>
                                        <td>
                                            <input asp-for="Phone1" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Phone1" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label class="sectionLabel" style="width:500px;"></label><h3>Plant Manager Information</h3></th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="PlantManager"></label>
                                        </td>
                                        <td>
                                            <input asp-for="PlantManager" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="PlantManager" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="PlantManagerEmail"></label>
                                        </td>
                                        <td>
                                            <input asp-for="PlantManagerEmail" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="PlantManagerEmail" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Phone2">Cell Phone</label>
                                        </td>
                                        <td>
                                            <input asp-for="Phone2" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Phone2" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="PlantManagerTxtNum"></label>
                                        </td>
                                        <td>
                                            <input asp-for="PlantManagerTxtNum" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="PlantManagerTxtNum" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </center>
</main>
