@model WilbertVaultCompany.api.Models.Plant
@using WilbertVaultCompany.api.Enums

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantId" />
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantManagerEmail" class="control-label"></label>
                <input asp-for="PlantManagerEmail" class="form-control" />
                <span asp-validation-for="PlantManagerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantManagerTxtNum" class="control-label"></label>
                <input asp-for="PlantManagerTxtNum" class="form-control" />
                <span asp-validation-for="PlantManagerTxtNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrintCompletedOrders" /> @Html.DisplayNameFor(model => model.PrintCompletedOrders)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Phone1" class="control-label"></label>
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone2" class="control-label"></label>
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneType1" class="control-label"></label>
                <select asp-for="PhoneType1" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                <span asp-validation-for="PhoneType1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneType2" class="control-label"></label>
                <select asp-for="PhoneType2" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                <span asp-validation-for="PhoneType2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
