@model WilbertVaultCompany.api.Models.Plant
@using WilbertVaultCompany.api.Enums

@{
    ViewData["Title"] = "Edit";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Login Template for Bootstrap</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Login")
</header>

<main role="main" class="container">
    <center>
        <h1 class="mt-5">Edit @Model.PlantName</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantId" />
            <div>
                <span id="Content_errorMessage" class="errorMessage"></span>
                <table class="table-bordered table-striped">
                    <tr>
                        <td>
                            <label asp-for="PlantName" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="PlantName" class="form-control" />
                            <span asp-validation-for="PlantName" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="PlantManagerEmail" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="PlantManagerEmail" class="form-control" />
                            <span asp-validation-for="PlantManagerEmail" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="PlantManagerTxtNum" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="PlantManagerTxtNum" class="form-control" />
                            <span asp-validation-for="PlantManagerTxtNum" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Address" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="City" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="State" class="control-label"></label>
                        </td>
                        <td>
                            <select asp-for="State" style="width:75px" class="form-control" asp-items="Html.GetEnumSelectList<States>()"></select>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="ZipCode" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="County" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="County" class="form-control" />
                            <span asp-validation-for="County" class="text-danger"></span>
                        </td>
                        <td class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="PrintCompletedOrders" /> @Html.DisplayNameFor(model => model.PrintCompletedOrders)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Phone1" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="Phone1" class="form-control" />
                            <span asp-validation-for="Phone1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="Phone2" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="Phone2" class="form-control" />
                            <span asp-validation-for="Phone2" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="PhoneType1" class="control-label"></label>
                        </td>
                        <td>
                            <select asp-for="PhoneType1" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="PhoneType2" class="control-label"></label>
                        </td>
                        <td>
                            <select asp-for="PhoneType2" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType2" class="text-danger"></span>
                        </td>

                    </tr>
                </table>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </center>
</main>

