@model WilbertVaultCompany.api.Models.FuneralHomeContact

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<hr style="border: 10px solid #00446a; border-radius: 5px;" />

<h3>PREFERENCES</h3>