@model Dashboarddata

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<body>
    @{var funeralHomeOwner = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "FRANCHISE OWNER"); }
    @{var funeralHomeDirector = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "FUNERAL DIRECTOR"); }
    @{var funeralHomeStaff = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "0OFFICE/ADMIN"); }

    @{var plantMgr = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "PLANT MANAGER"); }
    @{var driver = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "DRIVER"); }
    @{var franchiseAdmin = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "ADMIN"); }
    @{var superAdmin = await Model.userManager.IsInRoleAsync(Model.wilbertAppUser, "SUPERUSER"); }


    <header>
        <!-- Fixed navbar -->
        @await Component.InvokeAsync("Dashboard", Model)
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/orders.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>New Orders</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="VaultOrders">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/orders.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Current Orders</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="FuneralHomes">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/funeral-homes.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Funeral Homes</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/deliveries.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>Delivery List</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/schedule.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>Schedule</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/review.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>Office Review</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/cemeteries.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>Cemeteries</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="Plants">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/plants.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Plants</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="Trucks">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/trucks.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Trucks</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="Employees">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/employees.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Employees</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="reports.html">
                            <div class="card mb-4 shadow-sm">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/reports.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Reports</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a asp-action="Index" asp-controller="Products">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/inventory.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Products</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    @if (superAdmin || franchiseAdmin)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <a asp-action="Index" asp-controller="Admin">
                                    <div style="background:#00446a">
                                        <img class="card-img-top"
                                             src="~/images/admin.svg" alt="Admin Functions">
                                    </div>
                                    <div class="card-body">
                                        <h3>Admin Utilities</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div style="background:#00446a"><img class="card-img-top" src="~/images/password.svg" alt="Card image cap"></div>
                            <div class="card-body">
                                <h3>Change Password</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="exit.html">
                            <div class="card mb-4 shadow-sm">
                                <div style="background:#00446a"><img class="card-img-top" src="~/images/exit.svg" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h3>Exit</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <center>
                <span class="text-muted">

                    Copyright
                    <script type="text/javascript">document.write(new Date().getFullYear());</script> Wilbert Vault Company. | 974 73rd St #5, Des Moines, IA 50324 |  (515) 223-5908

                </span>
            </center>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>	