@model WilbertVaultCompany.api.Models.VaultOrder

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Vault Order Details</h1>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <th><label class="sectionLabel"></label><h3>Funeral Information</h3></th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Status"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Status" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<OrderStatus>()" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="FuneralDate"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="FuneralDate" class="form-control" />
                                        <span asp-validation-for="FuneralDate" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="CemetaryTime"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="CemetaryTime" class="form-control" />
                                        <span asp-validation-for="CemetaryTime" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Location"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Location" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<FuneralLocation>()" />
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="OrderingPlantId"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="OrderingPlantName" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="DeliveringPlant"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="DeliveringPlantName" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="ZipCode"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="ZipCode" class="form-control" />
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="funeralhome"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="funeralhome" class="form-control" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="FuneralDirector"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="FuneralDirector" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="CemetaryId"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="CemetaryName" class="form-control" />

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="GraveLocationSection"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="GraveLocationSection" class="form-control" />
                                        <span asp-validation-for="GraveLocationSection" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label class="sectionLabel"></label><h3>Deceased Information</h3></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Salutation"></label>
                                    </td>

                                    <td>
                                        <input readonly asp-for="Salutation" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<Salutations>()" />
                                        <span asp-validation-for="Salutation" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="FirstName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="MiddleName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="MiddleName" class="form-control" />
                                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="LastName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Suffix"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Suffix" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<Suffix>()" />
                                        <span asp-validation-for=" Suffix" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="BornDate"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="BornDate" class="form-control" />
                                        <span asp-validation-for="BornDate" class="text-danger"></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="DiedDate"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="DiedDate" class="form-control" />
                                        <span asp-validation-for="DiedDate" class="text-danger"></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="FullName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="FullName" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="vertical-space3">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="4"><label class="sectionLabel"></label><h3>Additional Notes</h3></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="VaultOrderNotes"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="VaultOrderNotes" class="form-control" />
                                        <span asp-validation-for="VaultOrderNotes" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <br />
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="VaultOrderId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </center>
</main>