@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div>
        <a href="http://www.wilbert.com">
            <img src="/Images/Wilbert.png" alt="Wilbert" />
        </a>
    </div>
    <hr /> 
    <div class="content px-4">
        @Body
    </div>
</div>
   