@model WilbertVaultCompany.api.Models.Employee
@using WilbertVaultCompany.api.Enums

@{
    ViewData["Title"] = "Create";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" class="action">
    <h1 class="mt-5">Employee Details</h1>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit Employee</a>
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.EmployeeId">Delete Entry</a>
    <a class="btn btn-primary" asp-action="Index">Go Back</a>
    <center>
        <form asp-action="Create" method="post">
            <div class="album py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label class="sectionLabel"></label><h3>Employee Information</h3></td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="FirstName"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="FirstName" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="LastName"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="LastName" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Phone1"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="Phone1" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="PhoneType1"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="PhoneType1" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Email"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="Email" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            <label asp-for="Title"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="Title" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="PlantEmployee.PlantName"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="PlantEmployee.PlantName" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Address"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="Address" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="City"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="City" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="State"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="State" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="ZipCode"></label>
                                        </td>
                                        <td>
                                            <input readonly asp-for="ZipCode" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Active"></label>
                                        </td>
                                        <td>
                                            @foreach (var item in Model.Answers)
                                            {
                                                <input disabled="disabled" asp-for="SelectedAnswer" type="radio" value="@item.Id" /> @item.Answer
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="CanDoFollowUps"></label>
                                        </td>
                                        <td>
                                            <input disabled="disabled" asp-for="CanDoFollowUps" maxlength="100" tabindex="1" style="width:300px;" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                   
                </div>
            </div>
        </form>
    </center>
</main>
