/*
1200px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

/*

Forces backgrounds to span full width,
even if there is horizontal scrolling.
•Increase this if your layout is wider.
Note: IE6 works fine without this fix.
*/
/* =Containers

--------------------------------------------------------------------------------*/

.container_12 {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;

}



/*  SECTIONS  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */
.pad {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.pad:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.pad:last-child { margin-right: 0; } /* all browsers except IE6 and lower */
.padsub {
	display: block;
	float:left;
	margin: 0% 0 1% 1.6%;
}
.padsub:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF TWO   ============================================================================= */
.col_2_of_2 {width: 100%;}
.col_1_of_2 {width: 49.2%;}


/*  GRID OF THREE   ============================================================================= */
.col_3_of_3 {width: 100%; }
.col_2_of_3 {width: 66.13%;}
.col_1_of_3 {width: 32.26%;}

/*  GRID OF FOUR   ============================================================================= */

.col_4_of_4 {width: 100%;}
.col_3_of_4 {width: 74.6%;}
.col_2_of_4 {width: 49.2%;}
.col_1_of_4 {width: 23.8%;}


/*  GRID OF FIVE   ============================================================================= */

.col_5_of_5 {width: 100%;}
.col_4_of_5 {width: 79.68%;}
.col_3_of_5 {width: 59.36%;}
.col_2_of_5 {width: 39.04%;}
.col_1_of_5 {width: 18.72%;}


/*  GRID OF SIX   ============================================================================= */

.col_6_of_6 {width: 100%;}
.col_5_of_6 {width: 83.06%;}
.col_4_of_6 {width: 66.13%;}
.col_3_of_6 {width: 49.2%;}
.col_2_of_6 {width: 32.26%;}
.col_1_of_6 {width: 15.33%;}

/*  GRID OF SEVEN   ============================================================================= */

.col_7_of_7 {width: 100%;}
.col_6_of_7 {width: 85.48%;}
.col_5_of_7 {width: 70.97%;}
.col_4_of_7 {width: 56.45%;}
.col_3_of_7 {width: 41.94%;}
.col_2_of_7 {width: 27.42%;}
.col_1_of_7 {width: 12.91%;}


/*  GRID OF EIGHT   ============================================================================= */

	
.col_8_of_8 {width: 100%;}
.col_7_of_8 {width: 87.3%;}
.col_6_of_8 {width: 74.6%;}
.col_5_of_8 {width: 61.9%;}
.col_4_of_8 {width: 49.2%;}
.col_3_of_8 {width: 36.5%;}
.col_2_of_8 {width: 23.8%;}
.col_1_of_8 {width: 11.1%;}

/*  GRID OF NINE   ============================================================================= */

.col_9_of_9 {width: 100%;}
.col_8_of_9 {width: 88.71%;}
.col_7_of_9 {width: 77.42%;}
.col_6_of_9 {width: 66.13%;}
.col_5_of_9 {width: 54.84%;}
.col_4_of_9 {width: 43.55%;}
.col_3_of_9 {width: 32.26%;}
.col_2_of_9 {width: 20.97%;}
.col_1_of_9 {width: 9.68%;}

/*  GRID OF TEN   ============================================================================= */
.col_10_of_10 {width: 100%;}
.col_9_of_10 {width: 89.84%;}
.col_8_of_10 {width: 79.68%;}
.col_7_of_10 {width: 69.52%;}
.col_6_of_10 {width: 59.36%;}
.col_5_of_10 {width: 49.2%;}
.col_4_of_10 {width: 39.04%;}
.col_3_of_10 {width: 28.88%;}
.col_2_of_10 {width: 18.72%;}
.col_1_of_10 {width: 8.56%;}

/*  GRID OF ELEVEN   ============================================================================= */
.col_11_of_11 {width: 100%;}
.col_10_of_11 {width: 90.76%;}
.col_9_of_11 {width: 81.52%;}
.col_8_of_11 {width: 72.29%;}
.col_7_of_11 {width: 63.05%;}
.col_6_of_11 {width: 53.81%;}
.col_5_of_11 {width: 44.58%;}
.col_4_of_11 {width: 35.34%;}
.col_3_of_11 {width: 26.1%;}
.col_2_of_11 {width: 16.87%;}
.col_1_of_11 {width: 7.63%;}


/*  GRID OF TWELVE   ============================================================================= */
.col_12_of_12 {width: 100%;}
.col_11_of_12 {width: 91.53%;}
.col_10_of_12 {width: 83.06%;}
.col_9_of_12 {width: 74.6%;}
.col_8_of_12 {width: 66.13%;}
.col_7_of_12 {width: 57.66%;}
.col_6_of_12 {width: 49.2%;} 
.col_5_of_12 {width: 40.73%;}
.col_4_of_12 {width: 32.26%;}
.col_3_of_12 {width: 23.8%;}
.col_2_of_12 {width: 15.33%;}
.col_1_of_12 {width: 6.86%;}


----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
•.clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}


.clearfix:before,
.clearfix:after {
        content: "\0020";
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}

.clearfix:after {
        clear: both;
}

/*

The following zoom:1 rule is specifically for IE6 + IE7.

Move to separate stylesheet if invalid CSS is a problem.

•*/

.clearfix {zoom: 1;}

.clear {
    clear: both;
}



@media only screen and (max-width: 1200px) and (min-width: 1024px){
    .container_12 {
        width: 1024px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .container_12 {
        width: 768px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 580px){
    .container_12 {
        width: 580px;
    }

    .col_1_of_3, .col_2_of_3, .col_3_of_3 {
        width: 100%;
    }

    .col_1_of_4, .col_2_of_4, .col_3_of_4, .col_4_of_4 {
        width: 50% 
    }
}

@media only screen and (max-width: 579px) {
    .container_12{
        width: 380px;
    }

    .col_1_of_4, .col_2_of_4, .col_3_of_4, .col_4_of_4,
    .col_1_of_3, .col_2_of_3, .col_3_of_3,
    .col_1_of_2, .col_2_of_2 {
        width: 100%;
    }
}