@model WilbertVaultCompany.api.Models.FuneralHome
@using WilbertVaultCompany.api.Enums
@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Login Template for Bootstrap</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Login")
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Add Funeral Home</h1>
        <form method="post" asp-action="Create" id="form1">
            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTU3NTA5MDQ2NmRkd5sidoJFs7/Q1XRhd0oDFiROnpZZ9YBoaKGUU6Ye/Js=" />
            </div>
            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="126D43E3" />
                <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAQ2/1FRlRuDj8d+ZbVgRDtyVCljrCncr1J7MYQHN26sfVrOg7M+XRkcWBcHQ4gBDJxmMVxwspsrLGu8S+c9N/C3TMX4jg8fcfNxOLtXys/prcL1ddF/ACrBu3fm3wndXvQ=" />
            </div>
            <div>
                <span id="Content_errorMessage" class="errorMessage"></span>
                <table>
                    <tr>
                        <td style="width: 120px;">
                            <label asp-for="Name">Funeral Home</label>
                        </td>
                        <td>
                            <input asp-for="Name" class="form-control" />

                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                   
                        <td class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsParent" /> @Html.DisplayNameFor(model => model.IsParent)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="ParentFuneralHomeId">Parent FH</label>
                        </td>
                        <td>
                            <select asp-for="ParentFuneralHomeId" class="form-control" asp-items="@(new SelectList(Model.ParentFuneralHomes,"Id","ParentFuneralhomeName"))">
                            </select>
                            <span asp-validation-for="ParentFuneralHomeId" class="text-danger"></span>
                        </td>
                   
                        <td>
                            <label asp-for="Address"></label>
                        </td>
                        <td>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="City"></label>
                        </td>
                        <td>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="State"></label>
                        </td>
                        <td>
                            <select asp-for="State" style="width:75px" class="form-control" asp-items="Html.GetEnumSelectList<States>()"></select>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="ZipCode"></label>
                        </td>
                        <td>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="County"></label>
                        </td>
                        <td>
                            <input asp-for="County" class="form-control" />
                            <span asp-validation-for="County" class="text-danger"></span>
                        </td>
                    </tr>                
                    <tr>
                        <td>
                            <label asp-for="Email"></label>
                        </td>
                        <td colspan="3" align="left">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="Website"></label>
                        </td>
                        <td>
                            <input asp-for="Website" tyle="width: 100px" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <label asp-for="Phone1"></label>
                        </td>
                        <td>
                            <input asp-for="Phone1" class="form-control" />
                            <span asp-validation-for="Phone1" class="text-danger"></span>

                        </td>
                        <td>
                            <label asp-for="PhoneType1"></label>
                        </td>
                        <td>
                            <select asp-for="PhoneType1" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType1" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Phone2"></label>
                        </td>
                        <td>
                            <input asp-for="Phone2" class="form-control" />
                            <span asp-validation-for="Phone2" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="PhoneType2"></label>
                        </td>
                        <td>
                            <select asp-for="PhoneType2" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType2" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </center>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

