@model WilbertVaultCompany.api.Models.FuneralHome
@using WilbertVaultCompany.api.Enums
@{
    ViewData["Title"] = "Create";
}

<h1 class="bg-info text-white">Create Funeral Home</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr>
                    <td colspan="3">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="control-label">Parent Fuenral Home</label>
                            @*@Html.DropDownList("ParentHome", (IEnumerable
                                <SelectListItem>)ViewData["DBParentFuneralHome"], "Select")*@


                            @Html.DropDownListFor(m => m.ParentFuneralHomeId, (IEnumerable
                                <SelectListItem>)ViewData["DBParentFuneralHome"], "-Select-")
                        </div>
                    </td>
                    <td colspan="3">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </td>
                    <td >
                        <div class="form-group" width="400px">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </td>
                    <td colspan="4">
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="ZipCode" class="control-label"></label>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="County" class="control-label"></label>
                            <input asp-for="County" class="form-control" />
                            <span asp-validation-for="County" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Website" class="control-label"></label>
                            <input asp-for="Website" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Phone1" class="control-label"></label>
                            <input asp-for="Phone1" class="form-control" />
                            <span asp-validation-for="Phone1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="PhoneType1" class="control-label"></label>
                            <select asp-for="PhoneType1" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Phone2" class="control-label"></label>
                            <input asp-for="Phone2" class="form-control" />
                            <span asp-validation-for="Phone2" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="PhoneType2" class="control-label"></label>
                            <select asp-for="PhoneType2" class="form-control" asp-items="Html.GetEnumSelectList<PhoneType>()"></select>
                            <span asp-validation-for="PhoneType2" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#submit").live("click", function (e) {

            e.preventDefault();
            var data = JSON.stringify({ CourseId: $('#CourseId').val() });
            $.ajax({
                type: "POST",
                url: config.basePath + '/Controllername/ActionMethodName',
                cache: false,
                data: data,
                dataType: this.dataType,
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    if (result.IsSuccess) {
                        $("#error_message").html(result.ErrorMessage);
                        $("#error_message").addClass("success");
                        UTMSGrid.StudentCourses.List.bindGrid($("#grid"));
                    }
                    else {
                        $("#error_message").html(result.ErrorMessage);
                        $("#error_message").addClass("fail");
                    }
                },
                error: function (data) {
                    // $("#error_message").html(data);

                }
            }); // End ajax call



        });
    </script>
}
