@model WilbertVaultCompany.api.Models.FuneralHome
@using WilbertVaultCompany.api.Enums


@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5">Funeral Home Details</h1>

    <a asp-action="Create" class="btn btn-primary">Add New Entry</a>
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.FuneralHomeId">Delete Entry</a>
    <a class="btn btn-primary" asp-action="Index">Go Back</a>
    <center>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <th><label class="sectionLabel"></label><h3>General Information</h3></th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Name">Funeral Home</label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Name" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group form-check">
                                        <label class="form-check-label">
                                            <input readonly class="form-check-input" asp-for="IsParent" /> @Html.DisplayNameFor(model => model.IsParent)
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Address"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Address" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Address"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Address" maxlength="100" tabindex="1" style="width:300px;" value="Address line 2" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="City"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="City" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="State"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="State" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="ZipCode"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="ZipCode" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="County"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="County" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label asp-for="Phone1"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Phone1" class="form-control" />
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <input readonly asp-for="PhoneType1" class="form-control" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Phone2"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Phone2" class="form-control" />
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <input readonly asp-for="PhoneType2" class="form-control" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Phone3"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Phone3" class="form-control" />

                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <input readonly asp-for="PhoneType3" class="form-control" style="width:300px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label class="sectionLabel"></label><h3>Additional Information</h3></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="ParentName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="ParentName" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Email"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Email" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="Website"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Website" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="PlantName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="PlantName" class="form-control" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border: 5px solid #00446a; border-radius: 5px;" />
        @await Component.InvokeAsync("Contacts", Model.FuneralHomeId)
        <br />
        <div>
            <table>
                <tr align="left">
                    <td>
                        <a asp-action="Create" asp-controller="FuneralHomeContacts" asp-route-id="@Model.FuneralHomeId" class="btn btn-primary">ADD CONTACTS</a>
                    </td>
                </tr>
            </table>
        </div>
        <hr style="border: 5px solid #00446a; border-radius: 5px;" />
        @await Component.InvokeAsync("Interactions", Model.FuneralHomeId)
        <br />
        <div>
            <table>
                <tr align="left">
                    <td>
                        <a asp-action="Create" asp-controller="Interactions" asp-route-id="@Model.FuneralHomeId" class="btn btn-primary">ADD INTERACTIONS</a>
                    </td>
                </tr>
            </table>
        </div>
    </center>
</main>