@using Microsoft.AspNetCore.Components.Routing

<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Account/dashboard.css" rel="stylesheet" />
<h1 class="bg-info text-white">Administration</h1>

<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/css/sticky-footer.css" rel="stylesheet" />
<link href="~/css/custom.css" rel="stylesheet">
<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>


<!-- Begin page content -->
<main role="main" class="container">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a asp-action="Index" asp-controller="Users">
                            <div style="background:#fc033d">
                                <img class="card-img-top"
                                     src="~/images/employees.svg" alt="Manage Users">
                            </div>
                        </a>
                        <div class="card-body">
                            <h3>Users</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a asp-action="Index" asp-controller="Role">
                            <div style="background:#fc033d">
                                <img class="card-img-top"
                                     src="~/images/admin.svg" alt="Manage Roles" />
                            </div>
                        </a>
                        <div class="card-body">
                            <h3>Roles</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a asp-action="Index" asp-controller="FuneralHomeContacts">
                            <div style="background:#fc033d">
                                <img class="card-img-top"
                                     src="~/images/employees.svg" alt="Manage Roles" />
                            </div>
                        </a>
                        <div class="card-body">
                            <h3>Funeral Home Contacts</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>