@model WilbertVaultCompany.api.Models.Interaction
@using WilbertVaultCompany.api.Enums
@{
    ViewData["Title"] = "Edit";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Login Template for Bootstrap</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>
<main role="main" id="fhc" class="container">
    <form asp-action="Edit" method="post">
        <center>
            <h1 class="mt-5">Edit Customer Interaction</h1>
            <hr />
            <input type="hidden" asp-for="FuneralHomeId" />
            <input type="hidden" asp-for="InteractionId" />
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="FuneralHomeId" />
                    <table>
                        <tbody>
                            <tr style="color:#333333;background-color:#FFFFFF;">
                                <td>
                                    <label class="titleLabel">Date:</label>
                                </td>
                                <td>
                                    <input class="form-control" asp-for="Date" placeholder="MM/DD/YYYY" type="text" />
                                </td>
                                <td>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </td>
                                <td>
                                    <label class="titleLabel">Nature:</label>
                                </td>
                                <td>
                                    <select asp-for="Nature" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<InteractionNature>()"></select>
                                </td>
                            </tr>
                            <tr style="color:#333333;background-color:#FFFFFF;">
                                <td>
                                    <label class="titleLabel">Notes:</label>
                                </td>
                                <td>
                                    <input type="text" rows="2" cols="20" tabindex="2" asp-for="Notes" style="height:100px;width:400px;">
                                </td>

                                <td>
                                    <label class="titleLabel">Follow Up Date:</label>
                                </td>
                                <td>
                                    <input class="form-control" asp-for="FollowUpDate" placeholder="MM/DD/YYYY" type="text" />
                                </td>
                            </tr>
                            <tr style="color:#333333;background-color:#ffffff;">
                                <td><label class="titleLabel">Reason:</label></td>
                                <td><select asp-for="Reason" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<FollowUpReason>()"></select></td>

                                <td>
                                    <label class="titleLabel" asp-for="Completed"></label>
                                </td>
                                <td>
                                    @foreach (var item in Model.Answers)
                                    {
                                        <input asp-for="SelectedAnswer" type="radio" value="@item.Id" /> @item.Answer
                                    }
                                    <span asp-validation-for="Completed" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr style="color:#333333;background-color:#FFFFFF;">
                                <td><label class="titleLabel">Outcome:</label></td>
                                <td><input type="text" rows="2" cols="20" tabindex="2" asp-for="Outcome" style="height:100px;width:400px;"></td>
                            </tr>

                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>
            <div>
                <input type="submit" value="Save Interaction" class="btn btn-primary" />
                <a asp-action="Details" asp-controller="FuneralHomes" asp-route-id="@Model.FuneralHomeId" class="btn btn-secondary">Back to Funeral Home</a>
            </div>
        </center>
    </form>
</main>
@section WilbertScripts {
    <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <script>
       // $(document).ready(function () {
            //var date_input = $('input[name="Date"]'); // our date input has the name "date"
            //var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            //date_input.datepicker({
            //    format: 'mm/dd/yyyy',
            //    container: container,
            //    todayHighlight: true,
            //    autoclose: true,
            //})

            //var date_input2 = $('input[name="FollowUpDate"]');
            //date_input2.datepicker({
            //    format: 'mm/dd/yyyy',
            //    container: container,
            //    todayHighlight: true,
            //    autoclose: true,
            //})
        //})
    </script>
}