@model WilbertVaultCompany.api.Models.Interaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Interaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InteractionId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nature" class="control-label"></label>
                <input asp-for="Nature" class="form-control" />
                <span asp-validation-for="Nature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUpDate" class="control-label"></label>
                <input asp-for="FollowUpDate" class="form-control" />
                <span asp-validation-for="FollowUpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Outcome" class="control-label"></label>
                <input asp-for="Outcome" class="form-control" />
                <span asp-validation-for="Outcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuneralHomeId" class="control-label"></label>
                <input asp-for="FuneralHomeId" class="form-control" />
                <span asp-validation-for="FuneralHomeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
