@model WilbertVaultCompany.api.Models.Truck
@using WilbertVaultCompany.api.Enums
   
@{
    ViewData["Title"] = "Create";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" class="action">
    <center>
        <form asp-action="Create" method="post">
            <div class="album py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label class="sectionLabel"></label><h3>Vehicle Information</h3></td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Vin"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Vin" maxlength="100" tabindex="1" style="width:300px;" />
                                            <span asp-validation-for="Vin" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Make"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Make" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Make" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Model"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Model" maxlength="100" tabindex="1" style="width:300px;" />
                                            <span asp-validation-for="Model" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Year"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Year" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Year" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Tonnage"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Tonnage" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Tonnage" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="AcquisitionDate"></label>
                                        </td>
                                        <td>
                                            <input asp-for="AcquisitionDate" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="AcquisitionDate" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="TruckId"></label>
                                        </td>
                                        <td>
                                            <input asp-for="TruckId" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="TruckId" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td>
                                            <label asp-for="PlantId">Assigned Plant</label>
                                        </td>
                                        <td>
                                            <select asp-for="PlantId" class="form-control" asp-items="@(new SelectList(Model.Plants,"PlantId","PlantName"))">Assigned Plant
                                            </select>
                                            <span asp-validation-for="PlantId" class="text-danger"></span>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="Type"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Type" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="RegCounty"></label>
                                        </td>
                                        <td>
                                            <input asp-for="RegCounty" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="RegCounty" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="LicPlateRenewal"></label>
                                        </td>
                                        <td>
                                            <select asp-for="LicPlateRenewal" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<LicDue>()"></select>
                                            <span asp-validation-for="LicPlateRenewal" class="text-danger"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="RegFee"></label>
                                        </td>
                                        <td>
                                            <input asp-for="RegFee" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="RegFee" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="TruckNumber"></label>
                                        </td>
                                        <td>
                                            <input asp-for="TruckNumber" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="TruckNumber" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="vertical-space3">
                            @*<table>
                                <tbody>
                                    <tr>
                                        <td colspan="4"><label class="sectionLabel"></label><h3>Vehicle Status</h3></td>
                                    </tr>

                                    <tr>
                                        <td class="form-group form-check">
                                            <label class="form-check-label" asp-for="Inactive"></label>
                                            <input class="form-check-input" asp-for="Inactive" />Yes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="titleLabel" asp-for="InactiveReason"></label>
                                        </td>
                                        <td>
                                            <input asp-for="InactiveReason" maxlength="100" tabindex="1" style="width:300px;" />

                                            <span asp-validation-for="InactiveReason" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                        </div>
                    </div>
                    <hr />
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </center>
</main>
