@model WilbertVaultCompany.api.Models.Truck

@{
    ViewData["Title"] = "Delete";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>
<!-- Fixed navbar -->
@await Component.InvokeAsync("Dashboard")

<!-- Begin page content -->

<h1>Delete</h1>
<!-- Begin page content -->
<main role="main" class="action">
    <h1 class="mt-5">Truck Details</h1>
    <br />
    <center>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <input readonly type="hidden" asp-for="TruckId" />
                    <div class="col-md-6">
                        <br />
                        <table>
                            <tbody>
                                <tr>
                                    <td><label class="sectionLabel"></label><h3>Vehicle Information</h3></td>
                                    <td>&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Vin"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Vin" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Make"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Make" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Model"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Model" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Year"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Year" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Tonnage"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Tonnage" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="AcquisitionDate"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="AcquisitionDate" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="TruckId"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="TruckId" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="AssignedPlant.PlantName"></label>
                                    </td>
                                    <td>
                                        <input asp-for="AssignedPlant.PlantName" class="form-control" />                                            `
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="DriverName"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="DriverName" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="Type"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="Type" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="RegCounty"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="RegCounty" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="LicPlateRenewal"></label>
                                    </td>
                                    <td>
                                        <input asp-for="LicPlateRenewal" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="RegFee"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="RegFee" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="titleLabel" asp-for="TruckNumber"></label>
                                    </td>
                                    <td>
                                        <input readonly asp-for="TruckNumber" maxlength="100" tabindex="1" style="width:300px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="vertical-space3">
                    
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </center>
</main>

<form asp-action="Delete">
    <input type="hidden" asp-for="TruckId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</form>

