@model WilbertVaultCompany.api.Models.Truck


<fieldset>
    <legend>EmployeeModel</legend>
    <div class="display-label">
        <strong> @Html.DisplayNameFor(model => model.DriverEmployeeId) </strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DriverEmployeeId)
    </div>
    <div class="display-label">
        <strong> @Html.DisplayNameFor(model => model.DriverName) </strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DriverName)
    </div>
</fieldset>  