<!DOCTYPE html>
@using Microsoft.AspNetCore.Components.Routing


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
            @RenderBody()
       
</body>
</html>
@RenderSection("scripts", false)
