<!DOCTYPE html>
@using Microsoft.AspNetCore.Components.Routing


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
    @RenderBody()

    @RenderSection("scripts", false)
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>